Source: gps-nmea
Section: misc
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.1.4

Package: gps-nmea
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GPS NMEA Utilities
 gps_send: Transmit GPS NMEA over the network using Multicast UDP
 gps_recv: Receive GPS_NMEA from the network using Multicast UDP
 gps_ntp: As gps_send but also update an NTP SHM clock with PPS
 gps_simple_ntp: As gps_ntp but without gps_send or PPS

Package: gps-nmea-dbg
Architecture: any
Depends: gps-nmea (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for gps-nmea
 This package contains the debugging symbols for gps-nmea
