Source: gps-nmea
Section: misc
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.6

Package: gps-nmea
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GPS NMEA Utilities
 gps_send: Transmit GPS NMEA over the network using Multicast UDP
 gps_recv: Receive GPS_NMEA from the network using Multicast UDP
 gps_ntp: As gps_send but also update an NTP SHM clock with PPS
 gps_simple_ntp: As gps_ntp but without gps_send or PPS
